*.tsbuildinfo
node_modules
lib
/test
.npmrc
script/bin

# Based on https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
src/config/WizardConfig.js
src/config/WizardConfig.d.ts.map
src/config/WizardConfig.js.map
src/utils/bulkSparql.d.ts.map
src/utils/bulkSparql.js
src/utils/bulkSparql.js.map
