@import "./vars.scss";
@font-face {
  font-family: "Roboto2";
  font-display: swap;
  src: url("./fonts/roboto2-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto2";
  font-display: swap;
  src: url("./fonts/roboto2-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:global {
  html,
  body {
    font-size: $font-size;
    height: 100%;
    color: #555555;
    font-family: "Roboto2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: $line-height-base;
  }

  body {
    margin: 0;
  }
}
