@import "../../theme/vars.scss";

.image {
  height: 50px;
  padding-right: 2rem;
}
body {
  background: #eee;
}
a {
  color: $pallette-secondary;
  text-decoration: none;
  &:hover {
    text-shadow: 1px 0 0;
  }
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
  margin: 2rem 0;
}
.footer {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  .footerNav {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }
  .LDWizardImg svg {
    height: 5rem;
    :global(.primary) {
      fill: $pallette-primary;
    }
    :global(.secondary) {
      fill: $pallette-secondary;
    }
  }
}
